# CS543 Project - eCommerce System
## Data Preprocessing

### Reading Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('data/ecommerce.csv',encoding='unicode_escape')

In [3]:
len(df)

541909

In [4]:
df.drop(df[df['Quantity'] < 0].index, inplace = True) 
df.drop(df[df['UnitPrice'] < 0].index, inplace = True)
#df['CustomerID'].fillna('XXXXX')
#df.drop(df[df['CustomerID'] == 0].index, inplace = True)
#df.dropna(subset=['CustomerID'])

In [5]:
df.tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [6]:
# Grouping data by invoiceno to get the orders processed
gb = df.groupby('InvoiceNo')

In [7]:
print("Number of transactions:", len(gb))

Number of transactions: 20726

### Grouping of data into one dataframe

In [8]:
cart_amounts = gb.apply(lambda df,a,b: sum(df[a] * df[b]), 'Quantity', 'UnitPrice')

In [9]:
purchased_items = gb['Description'].apply(list)

In [10]:
customer_ids = gb['CustomerID'].unique().str[0]

In [11]:
invoice_dates = gb['InvoiceDate'].unique().str[0]

In [12]:
stock_codes = gb['StockCode'].unique()

In [13]:
countries = gb['Country'].unique().str[0]

In [14]:
people_transactions = df.groupby('CustomerID')['InvoiceNo'].apply(list).to_dict()

In [15]:
stock_code_dict = df.groupby('StockCode')['Description'].unique().apply(list).to_dict()

In [16]:
df_new = pd.DataFrame({"CartAmount":cart_amounts})

In [17]:
df_new['InvoiceDate'] = invoice_dates

In [18]:
df_new['PurchasedItems'] = purchased_items

In [19]:
df_new['StockCodes'] = stock_codes

In [20]:
df_new['CustomerID'] = customer_ids

In [21]:
df_new['CustomerID'] = df_new['CustomerID'].fillna('XXXXX')

In [22]:
df_new['Country'] = countries

In [23]:
transactions = df_new

In [24]:
#transactions.drop(transactions[transactions['CustomerID'] == "XXXXX"].index, inplace = True)

In [25]:
# Splitting dates into days
dates_splitted = transactions['InvoiceDate'].str.split().str[0].str.split('/').str
transactions['InvoiceDay'] = dates_splitted[2]+'-'+dates_splitted[0].str.zfill(2)+'-'+dates_splitted[1].str.zfill(2)
transactions['MonthDate'] = dates_splitted[2]+'-'+dates_splitted[0].str.zfill(2)

In [178]:
countries.unique().to_csv("countries.csv",)

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### Transactions Table

In [26]:
transactions.head(10)

,CartAmount,InvoiceDate,PurchasedItems,StockCodes,CustomerID,Country,InvoiceDay,MonthDate
InvoiceNo,,,,,,,,
536365,139.12,12/1/2010 8:26,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...","[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",17850,United Kingdom,2010-12-01,2010-12
536366,22.20,12/1/2010 8:28,"[HAND WARMER UNION JACK, HAND WARMER RED POLKA...","[22633, 22632]",17850,United Kingdom,2010-12-01,2010-12
536367,278.73,12/1/2010 8:34,"[ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHO...","[84879, 22745, 22748, 22749, 22310, 84969, 226...",13047,United Kingdom,2010-12-01,2010-12
536368,70.05,12/1/2010 8:34,"[JAM MAKING SET WITH JARS, RED COAT RACK PARIS...","[22960, 22913, 22912, 22914]",13047,United Kingdom,2010-12-01,2010-12
536369,17.85,12/1/2010 8:35,[BATH BUILDING BLOCK WORD],[21756],13047,United Kingdom,2010-12-01,2010-12
536370,855.86,12/1/2010 8:45,"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...","[22728, 22727, 22726, 21724, 21883, 10002, 217...",12583,France,2010-12-01,2010-12
536371,204.00,12/1/2010 9:00,[PAPER CHAIN KIT 50'S CHRISTMAS ],[22086],13748,United Kingdom,2010-12-01,2010-12
536372,22.20,12/1/2010 9:01,"[HAND WARMER RED POLKA DOT, HAND WARMER UNION ...","[22632, 22633]",17850,United Kingdom,2010-12-01,2010-12
536373,259.86,12/1/2010 9:02,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...","[85123A, 71053, 84406B, 20679, 37370, 21871, 2...",17850,United Kingdom,2010-12-01,2010-12
536374,350.40,12/1/2010 9:09,[VICTORIAN SEWING BOX LARGE],[21258],15100,United Kingdom,2010-12-01,2010-12

###  Categorizing Data

In [27]:
# Number of transactions per day
day_counts = transactions.groupby('InvoiceDay')['MonthDate'].count()
print(day_counts)

InvoiceDay
2010-12-01    136
2010-12-02    143
2010-12-03     73
2010-12-05     88
2010-12-06    108
             ...
2011-12-05    132
2011-12-06    116
2011-12-07    112
2011-12-08    123
2011-12-09     44
Name: MonthDate, Length: 305, dtype: int64

In [28]:
print("Transactions: ", len(transactions), "Number of Days: ", len(day_counts))

Transactions:  20726 Number of Days:  305

In [29]:
#day_counts.to_csv('day_counts.csv', index=True)
# Number of transactions per month
transactions.groupby('MonthDate')['MonthDate'].count()

MonthDate
2010-12    1629
2011-01    1120
2011-02    1126
2011-03    1531
2011-04    1318
2011-05    1731
2011-06    1576
2011-07    1540
2011-08    1407
2011-09    1896
2011-10    2129
2011-11    2884
2011-12     839
Name: MonthDate, dtype: int64

In [30]:
# Number of transactions per person
cart_amounts = transactions.groupby('CustomerID')['CartAmount'].count()
ca = pd.DataFrame({"CartAmount":cart_amounts})
print(ca)
#ca.to_csv('transactions_per_person.csv', index=True)

            CartAmount
CustomerID
12346.0              1
12347.0              7
12348.0              4
12349.0              1
12350.0              1
...                ...
18281.0              1
18282.0              2
18283.0             16
18287.0              3
XXXXX             2190

[4340 rows x 1 columns]

In [31]:
# Money spent by each person
money_spent_per_person = transactions.groupby('CustomerID').sum()
print(money_spent_per_person)
#money_spent_per_person['CartAmount'] = round(money_spent_per_person['CartAmount'],2)
#money_spent_per_person.to_csv("money_spent_per_person.csv",index=True)

            CartAmount
CustomerID
12346.0       77183.60
12347.0        4310.00
12348.0        1797.24
12349.0        1757.55
12350.0         334.40
...                ...
18281.0          80.82
18282.0         178.05
18283.0        2094.88
18287.0        1837.28
XXXXX       1755276.64

[4340 rows x 1 columns]

In [32]:
# Number of transactions per country
country_buys = transactions.groupby('Country')['Country'].count()
cb = pd.DataFrame({"country_buy":country_buys})
print(cb)
#cb.to_csv('reps/D3Visualizations/data/country_buys.csv', index=True)

                      country_buy
Country
Australia                      57
Austria                        17
Bahrain                         3
Belgium                        98
Brazil                          1
Canada                          6
Channel Islands                26
Cyprus                         16
Czech Republic                  2
Denmark                        18
EIRE                          288
European Community              4
Finland                        41
France                        392
Germany                       457
Greece                          5
Hong Kong                      11
Iceland                         7
Israel                          8
Italy                          38
Japan                          19
Lebanon                         1
Lithuania                       4
Malta                           5
Netherlands                    95
Norway                         36
Poland                         19
Portugal                       58
RSA                             1
Saudi Arabia                    1
Singapore                       7
Spain                          90
Sweden                         36
Switzerland                    54
USA                             5
United Arab Emirates            3
United Kingdom              18784
Unspecified                    13

In [33]:
# Amount of each products purchased
products_quantities = df.groupby('Description')['Quantity'].sum()
print(products_quantities.sort_values(ascending=False))

Description
PAPER CRAFT , LITTLE BIRDIE            80995
MEDIUM CERAMIC TOP STORAGE JAR         78033
WORLD WAR 2 GLIDERS ASSTD DESIGNS      55047
JUMBO BAG RED RETROSPOT                48478
WHITE HANGING HEART T-LIGHT HOLDER     37895
                                       ...
LILY BROOCH WHITE/SILVER COLOUR            1
BLOSSOM IMAGES SCRAP BOOK SET              1
CAPIZ CHANDELIER                           1
DUSTY PINK CHRISTMAS TREE 30CM             1
SET 10 CARDS CHRISTMAS BAUBLE 16954        1
Name: Quantity, Length: 4077, dtype: int64

In [34]:
# Number of times of adding to carts which contain that stock codes 
products_quantities_stocks = df.groupby('StockCode')['Quantity'].count().sort_values(ascending=False)
print(products_quantities_stocks)

StockCode
85123A    2270
85099B    2115
22423     2019
47566     1707
20725     1595
          ...
22146        1
79323B       1
79323P       1
85179a       1
m            1
Name: Quantity, Length: 3941, dtype: int64

In [35]:
#people_quantities = df.groupby('CustomerID')['Quantity'].sum()
#print(people_quantities)

In [36]:
transactions.groupby('CustomerID')['InvoiceDay'].apply(list)

CustomerID
12346.0                                         [2011-01-18]
12347.0    [2010-12-07, 2011-01-26, 2011-04-07, 2011-06-0...
12348.0     [2010-12-16, 2011-01-25, 2011-04-05, 2011-09-25]
12349.0                                         [2011-11-21]
12350.0                                         [2011-02-02]
                                 ...
18281.0                                         [2011-06-12]
18282.0                             [2011-08-05, 2011-12-02]
18283.0    [2011-01-06, 2011-01-23, 2011-02-28, 2011-04-2...
18287.0                 [2011-05-22, 2011-10-12, 2011-10-28]
XXXXX      [2010-12-01, 2010-12-01, 2010-12-01, 2010-12-0...
Name: InvoiceDay, Length: 4340, dtype: object

In [37]:
# Number of times products added to cart by each person
people_transactions = df.groupby('CustomerID')['CustomerID'].count()
#people_transactions = df.groupby('CustomerID')['StockCode'].apply(set)
print(people_transactions)

CustomerID
12346.0      1
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     12
18283.0    756
18287.0     70
Name: CustomerID, Length: 4339, dtype: int64

In [38]:
people_transactions.sort_values(ascending=False)

CustomerID
17841.0    7847
14911.0    5677
14096.0    5111
12748.0    4596
14606.0    2700
           ...
15524.0       1
15562.0       1
15657.0       1
15668.0       1
12346.0       1
Name: CustomerID, Length: 4339, dtype: int64

### Sampling of people for better visualization

In [153]:
# Sampling of people who have purchased more than 400 products
people_sampled = people_transactions.sort_values(ascending=False)[people_transactions > 0].to_dict()
print("Number of people sampled: ", len(people_sampled))

Number of people sampled:  4339

In [154]:
people_transactions

CustomerID
12346.0      1
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     12
18283.0    756
18287.0     70
Name: CustomerID, Length: 4339, dtype: int64

In [155]:
# Sampling of products by if this product is added to cart more than 1000 times
products_quantities_stocks_sampled = products_quantities_stocks.sort_values(ascending=False)[products_quantities_stocks > 0].to_dict()

In [ ]:
print("Number of different products", len(products_quantities_stocks_sampled))

In [157]:
# Money spent on each product
df.groupby('Description').apply(lambda df,a,b: sum(df[a] * df[b]), 'Quantity', 'UnitPrice')

Description
 4 PURPLE FLOCK DINNER CANDLES     290.80
 50'S CHRISTMAS GIFT BAG LARGE    2343.63
 DOLLY GIRL BEAKER                2891.25
 I LOVE LONDON MINI BACKPACK      1628.17
 I LOVE LONDON MINI RUCKSACK         4.15
                                   ...
wrongly coded 20713                  0.00
wrongly coded 23343                  0.00
wrongly marked                       0.00
wrongly marked 23343                 0.00
wrongly sold (22719) barcode         0.00
Length: 4077, dtype: float64

In [158]:
#df.to_csv('data/transactions.csv', index=False)

In [159]:
transactions.groupby('CustomerID')['InvoiceDay'].apply(list)

CustomerID
12346.0                                         [2011-01-18]
12347.0    [2010-12-07, 2011-01-26, 2011-04-07, 2011-06-0...
12348.0     [2010-12-16, 2011-01-25, 2011-04-05, 2011-09-25]
12349.0                                         [2011-11-21]
12350.0                                         [2011-02-02]
                                 ...
18281.0                                         [2011-06-12]
18282.0                             [2011-08-05, 2011-12-02]
18283.0    [2011-01-06, 2011-01-23, 2011-02-28, 2011-04-2...
18287.0                 [2011-05-22, 2011-10-12, 2011-10-28]
XXXXX      [2010-12-01, 2010-12-01, 2010-12-01, 2010-12-0...
Name: InvoiceDay, Length: 4340, dtype: object

In [160]:
# Purhased items per people as stock codes
customer_stocks = transactions[['CustomerID','StockCodes','InvoiceDay','Country']]

In [161]:
customer_stocks.head(10)

,CustomerID,StockCodes,InvoiceDay,Country
InvoiceNo,,,,
536365,17850,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",2010-12-01,United Kingdom
536366,17850,"[22633, 22632]",2010-12-01,United Kingdom
536367,13047,"[84879, 22745, 22748, 22749, 22310, 84969, 226...",2010-12-01,United Kingdom
536368,13047,"[22960, 22913, 22912, 22914]",2010-12-01,United Kingdom
536369,13047,[21756],2010-12-01,United Kingdom
536370,12583,"[22728, 22727, 22726, 21724, 21883, 10002, 217...",2010-12-01,France
536371,13748,[22086],2010-12-01,United Kingdom
536372,17850,"[22632, 22633]",2010-12-01,United Kingdom
536373,17850,"[85123A, 71053, 84406B, 20679, 37370, 21871, 2...",2010-12-01,United Kingdom
536374,15100,[21258],2010-12-01,United Kingdom

In [162]:
#customer_stocks[customer_stocks['CustomerID']==17850].Country[0]

### Graph Creation

#### edges creation

In [163]:
# Links creation of 
links = []
links_big = []
customer_ids_dict = dict()
j=0

stock_codes_dict = dict()
stock_codes_descriptions_dict = dict()

k=6000

for i in range(0,len(customer_stocks)):
    cs = customer_stocks.iloc[i]
    cid = customer_stocks.iloc[i].CustomerID 
    if(cid != 'XXXXX' and cid in people_sampled):
        
        for sc in customer_stocks.iloc[i].StockCodes:

            if(sc in products_quantities_stocks_sampled):
                
                if (cid not in customer_ids_dict):
                    customer_ids_dict[cid] = j
                    j += 1
                
                if (sc not in stock_codes_dict):
                    stock_codes_dict[sc] = k
                    stock_codes_descriptions_dict[k] = stock_code_dict[sc][0]
                    k += 1
                
                #link_element_big = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]),"invoiceday":, "type": "A"}
                link_element_big = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]),"invoice_day": customer_stocks.iloc[i].InvoiceDay, "type": "A"}
                links_big.append(link_element_big)
                
                #link_element = {"source":customer_ids_dict[cid],"target":stock_codes_dict[sc], "value": 10}
                #link_element = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]), "type": "A"}
                #links.append(link_element)

In [164]:
print("Number of edges: ",len(links_big))

Number of edges:  387875

In [165]:
link_element_big

{'source': '3250', 'target': '8392', 'invoice_day': '2011-12-09', 'type': 'A'}

In [167]:
len(stock_codes_dict)

3665

In [169]:
import json
with open('stock_descriptions_big.json', 'w') as json_file:
    json.dump(stock_codes_descriptions_dict, json_file)

In [170]:
links_big[:3]

[{'source': '0', 'target': '6000', 'invoice_day': '2010-12-01', 'type': 'A'},
 {'source': '0', 'target': '6001', 'invoice_day': '2010-12-01', 'type': 'A'},
 {'source': '0', 'target': '6002', 'invoice_day': '2010-12-01', 'type': 'A'}]

### Graph nodes construction

In [171]:
nodes = []
nodes_big = []
for i in customer_ids_dict:
    person_country = customer_stocks[customer_stocks['CustomerID']==i].Country[0]
    node_element_big = {"name":str(customer_ids_dict[i]),"sex":"F", "country":person_country}
    nodes_big.append(node_element_big)
    
    #node_element = {"name":str(customer_ids_dict[i]),"sex":"F"}
    #nodes.append(node_element)

for j in stock_codes_dict:
    node_element_big = {"name":str(stock_codes_dict[j]),"sex":"M","country":"PRODUCT"}
    nodes_big.append(node_element_big)
    
    #node_element = {"name":str(stock_codes_dict[j]),"sex":"M"}
    #nodes.append(node_element)

In [172]:
print("Number of nodes: ",len(nodes_big))

Number of nodes:  8004

In [173]:
node_element_big

{'name': '9664', 'sex': 'M', 'country': 'PRODUCT'}

In [174]:
import json

In [175]:
with open('links_modif_big.js', 'w') as json_file:
    json.dump(links_big, json_file)

In [176]:
with open('nodes_modif_big.js', 'w') as json_file:
    json.dump(nodes_big, json_file)

### Customer buy dates

In [68]:
# Number of transactions per user in each day, (sampled and reduced customer id version)
transactions[['CustomerID','InvoiceDay','StockCodes']].groupby(['CustomerID','InvoiceDay']).count().to_csv("customer_buydates.csv",index=True)
customer_buydates = pd.read_csv('customer_buydates.csv')

In [69]:
customer_buydates_person = []
customer_buydates_when = []
customer_buydates_count = []

for ci in range(0,len(customer_buydates)):
    if(customer_buydates.iloc[ci]['CustomerID'] == 'XXXXX' or float(customer_buydates.iloc[ci]['CustomerID']) not in customer_ids_dict):
        ""
        #print(customer_buydates.iloc[ci]['CustomerID'])
        #customer_buydates = customer_buydates.drop(index=ci)
    else:
        customer_buydates_person.append(customer_ids_dict[float(customer_buydates.iloc[ci]['CustomerID'])])
        customer_buydates_when.append(customer_buydates.iloc[ci]['InvoiceDay'])
        customer_buydates_count.append(customer_buydates.iloc[ci]['StockCodes'])

customer_buydates_sampled = pd.DataFrame({'Customer':customer_buydates_person,'InvoiceDay':customer_buydates_when,'Count':customer_buydates_count})

In [70]:
customer_buydates_sampled.head(10)
#customer_buydates_sampled.to_csv("customer_buydates_sampled_big.csv",index=False)

   Customer  InvoiceDay  Count
0       266  2011-01-12      1
1       266  2011-02-07      1
2       266  2011-06-03      1
3       266  2011-10-13      1
4       332  2011-02-17      1
5       332  2011-04-28      1
6       332  2011-07-07      1
7       332  2011-08-11      1
8       332  2011-09-28      1
9       332  2011-10-11      1