# CS543 Project - eCommerce System
## Data Preprocessing

### Reading Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('data/ecommerce.csv',encoding='unicode_escape')

In [3]:
len(df)

541909

In [4]:
df.drop(df[df['Quantity'] < 0].index, inplace = True) 
df.drop(df[df['UnitPrice'] < 0].index, inplace = True)
#df['CustomerID'].fillna('XXXXX')
#df.drop(df[df['CustomerID'] == 0].index, inplace = True)
#df.dropna(subset=['CustomerID'])

In [5]:
df.tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [6]:
# Grouping data by invoiceno to get the orders processed
gb = df.groupby('InvoiceNo')

In [7]:
print("Number of transactions:", len(gb))

Number of transactions: 20726

### Grouping of data into one dataframe

In [8]:
cart_amounts = gb.apply(lambda df,a,b: sum(df[a] * df[b]), 'Quantity', 'UnitPrice')

In [9]:
purchased_items = gb['Description'].apply(list)

In [10]:
customer_ids = gb['CustomerID'].unique().str[0]

In [11]:
invoice_dates = gb['InvoiceDate'].unique().str[0]

In [12]:
stock_codes = gb['StockCode'].unique()

In [13]:
countries = gb['Country'].unique().str[0]

In [14]:
people_transactions = df.groupby('CustomerID')['InvoiceNo'].apply(list).to_dict()

In [15]:
stock_code_dict = df.groupby('StockCode')['Description'].unique().apply(list).to_dict()

In [16]:
df_new = pd.DataFrame({"CartAmount":cart_amounts})

In [17]:
df_new['InvoiceDate'] = invoice_dates

In [18]:
df_new['PurchasedItems'] = purchased_items

In [19]:
df_new['StockCodes'] = stock_codes

In [20]:
df_new['CustomerID'] = customer_ids

In [21]:
df_new['CustomerID'] = df_new['CustomerID'].fillna('XXXXX')

In [22]:
df_new['Country'] = countries

In [23]:
transactions = df_new

In [24]:
#transactions.drop(transactions[transactions['CustomerID'] == "XXXXX"].index, inplace = True)

In [25]:
# Splitting dates into days
dates_splitted = transactions['InvoiceDate'].str.split().str[0].str.split('/').str
transactions['InvoiceDay'] = dates_splitted[2]+'-'+dates_splitted[0].str.zfill(2)+'-'+dates_splitted[1].str.zfill(2)
transactions['MonthDate'] = dates_splitted[2]+'-'+dates_splitted[0].str.zfill(2)

### Transactions Table

In [26]:
transactions.head(10)

,CartAmount,InvoiceDate,PurchasedItems,StockCodes,CustomerID,Country,InvoiceDay,MonthDate
InvoiceNo,,,,,,,,
536365,139.12,12/1/2010 8:26,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...","[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",17850,United Kingdom,2010-12-01,2010-12
536366,22.20,12/1/2010 8:28,"[HAND WARMER UNION JACK, HAND WARMER RED POLKA...","[22633, 22632]",17850,United Kingdom,2010-12-01,2010-12
536367,278.73,12/1/2010 8:34,"[ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHO...","[84879, 22745, 22748, 22749, 22310, 84969, 226...",13047,United Kingdom,2010-12-01,2010-12
536368,70.05,12/1/2010 8:34,"[JAM MAKING SET WITH JARS, RED COAT RACK PARIS...","[22960, 22913, 22912, 22914]",13047,United Kingdom,2010-12-01,2010-12
536369,17.85,12/1/2010 8:35,[BATH BUILDING BLOCK WORD],[21756],13047,United Kingdom,2010-12-01,2010-12
536370,855.86,12/1/2010 8:45,"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...","[22728, 22727, 22726, 21724, 21883, 10002, 217...",12583,France,2010-12-01,2010-12
536371,204.00,12/1/2010 9:00,[PAPER CHAIN KIT 50'S CHRISTMAS ],[22086],13748,United Kingdom,2010-12-01,2010-12
536372,22.20,12/1/2010 9:01,"[HAND WARMER RED POLKA DOT, HAND WARMER UNION ...","[22632, 22633]",17850,United Kingdom,2010-12-01,2010-12
536373,259.86,12/1/2010 9:02,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...","[85123A, 71053, 84406B, 20679, 37370, 21871, 2...",17850,United Kingdom,2010-12-01,2010-12
536374,350.40,12/1/2010 9:09,[VICTORIAN SEWING BOX LARGE],[21258],15100,United Kingdom,2010-12-01,2010-12

###  Categorizing Data

In [27]:
# Number of transactions per day
day_counts = transactions.groupby('InvoiceDay')['MonthDate'].count()
print(day_counts)

InvoiceDay
2010-12-01    136
2010-12-02    143
2010-12-03     73
2010-12-05     88
2010-12-06    108
             ...
2011-12-05    132
2011-12-06    116
2011-12-07    112
2011-12-08    123
2011-12-09     44
Name: MonthDate, Length: 305, dtype: int64

In [28]:
print("Transactions: ", len(transactions), "Number of Days: ", len(day_counts))

Transactions:  20726 Number of Days:  305

In [29]:
#day_counts.to_csv('day_counts.csv', index=True)
# Number of transactions per month
transactions.groupby('MonthDate')['MonthDate'].count()

MonthDate
2010-12    1629
2011-01    1120
2011-02    1126
2011-03    1531
2011-04    1318
2011-05    1731
2011-06    1576
2011-07    1540
2011-08    1407
2011-09    1896
2011-10    2129
2011-11    2884
2011-12     839
Name: MonthDate, dtype: int64

In [30]:
# Number of transactions per person
cart_amounts = transactions.groupby('CustomerID')['CartAmount'].count()
ca = pd.DataFrame({"CartAmount":cart_amounts})
print(ca)
#ca.to_csv('transactions_per_person.csv', index=True)

            CartAmount
CustomerID
12346.0              1
12347.0              7
12348.0              4
12349.0              1
12350.0              1
...                ...
18281.0              1
18282.0              2
18283.0             16
18287.0              3
XXXXX             2190

[4340 rows x 1 columns]

In [31]:
# Money spent by each person
money_spent_per_person = transactions.groupby('CustomerID').sum()
print(money_spent_per_person)
#money_spent_per_person['CartAmount'] = round(money_spent_per_person['CartAmount'],2)
#money_spent_per_person.to_csv("money_spent_per_person.csv",index=True)

            CartAmount
CustomerID
12346.0       77183.60
12347.0        4310.00
12348.0        1797.24
12349.0        1757.55
12350.0         334.40
...                ...
18281.0          80.82
18282.0         178.05
18283.0        2094.88
18287.0        1837.28
XXXXX       1755276.64

[4340 rows x 1 columns]

In [32]:
# Number of transactions per country
country_buys = transactions.groupby('Country')['Country'].count()
cb = pd.DataFrame({"country_buy":country_buys})
print(cb)
#cb.to_csv('reps/D3Visualizations/data/country_buys.csv', index=True)

                      country_buy
Country
Australia                      57
Austria                        17
Bahrain                         3
Belgium                        98
Brazil                          1
Canada                          6
Channel Islands                26
Cyprus                         16
Czech Republic                  2
Denmark                        18
EIRE                          288
European Community              4
Finland                        41
France                        392
Germany                       457
Greece                          5
Hong Kong                      11
Iceland                         7
Israel                          8
Italy                          38
Japan                          19
Lebanon                         1
Lithuania                       4
Malta                           5
Netherlands                    95
Norway                         36
Poland                         19
Portugal                       58
RSA                             1
Saudi Arabia                    1
Singapore                       7
Spain                          90
Sweden                         36
Switzerland                    54
USA                             5
United Arab Emirates            3
United Kingdom              18784
Unspecified                    13

In [33]:
# Amount of each products purchased
products_quantities = df.groupby('Description')['Quantity'].sum()
print(products_quantities.sort_values(ascending=False))

Description
PAPER CRAFT , LITTLE BIRDIE            80995
MEDIUM CERAMIC TOP STORAGE JAR         78033
WORLD WAR 2 GLIDERS ASSTD DESIGNS      55047
JUMBO BAG RED RETROSPOT                48478
WHITE HANGING HEART T-LIGHT HOLDER     37895
                                       ...
LILY BROOCH WHITE/SILVER COLOUR            1
BLOSSOM IMAGES SCRAP BOOK SET              1
CAPIZ CHANDELIER                           1
DUSTY PINK CHRISTMAS TREE 30CM             1
SET 10 CARDS CHRISTMAS BAUBLE 16954        1
Name: Quantity, Length: 4077, dtype: int64

In [34]:
# Number of times of adding to carts which contain that stock codes 
products_quantities_stocks = df.groupby('StockCode')['Quantity'].count().sort_values(ascending=False)
print(products_quantities_stocks)

StockCode
85123A    2270
85099B    2115
22423     2019
47566     1707
20725     1595
          ...
22146        1
79323B       1
79323P       1
85179a       1
m            1
Name: Quantity, Length: 3941, dtype: int64

In [35]:
#people_quantities = df.groupby('CustomerID')['Quantity'].sum()
#print(people_quantities)

In [36]:
transactions.groupby('CustomerID')['InvoiceDay'].apply(list)

CustomerID
12346.0                                         [2011-01-18]
12347.0    [2010-12-07, 2011-01-26, 2011-04-07, 2011-06-0...
12348.0     [2010-12-16, 2011-01-25, 2011-04-05, 2011-09-25]
12349.0                                         [2011-11-21]
12350.0                                         [2011-02-02]
                                 ...
18281.0                                         [2011-06-12]
18282.0                             [2011-08-05, 2011-12-02]
18283.0    [2011-01-06, 2011-01-23, 2011-02-28, 2011-04-2...
18287.0                 [2011-05-22, 2011-10-12, 2011-10-28]
XXXXX      [2010-12-01, 2010-12-01, 2010-12-01, 2010-12-0...
Name: InvoiceDay, Length: 4340, dtype: object

In [37]:
# Number of times products added to cart by each person
people_transactions = df.groupby('CustomerID')['CustomerID'].count()
#people_transactions = df.groupby('CustomerID')['StockCode'].apply(set)
print(people_transactions)

CustomerID
12346.0      1
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     12
18283.0    756
18287.0     70
Name: CustomerID, Length: 4339, dtype: int64

In [38]:
people_transactions.sort_values(ascending=False)

CustomerID
17841.0    7847
14911.0    5677
14096.0    5111
12748.0    4596
14606.0    2700
           ...
15524.0       1
15562.0       1
15657.0       1
15668.0       1
12346.0       1
Name: CustomerID, Length: 4339, dtype: int64

### Sampling of people for better visualization

In [81]:
# Sampling of people who have purchased more than 400 products
people_sampled = people_transactions.sort_values(ascending=False)[people_transactions > 400].to_dict()
print("Number of people sampled: ", len(people_sampled))

Number of people sampled:  139

In [82]:
people_transactions

CustomerID
12346.0      1
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     12
18283.0    756
18287.0     70
Name: CustomerID, Length: 4339, dtype: int64

In [83]:
# Sampling of products by if this product is added to cart more than 1000 times
products_quantities_stocks_sampled = products_quantities_stocks.sort_values(ascending=False)[products_quantities_stocks > 1000].to_dict()

In [84]:
print(products_quantities_stocks_sampled)
print("Number of different products", len(products_quantities_stocks_sampled))

{'85123A': 2270, '85099B': 2115, '22423': 2019, '47566': 1707, '20725': 1595, '84879': 1489, '22197': 1426, '22720': 1401, '21212': 1370, '20727': 1328, '22383': 1327, '22457': 1263, '23203': 1250, '22386': 1238, '22469': 1227, '22086': 1200, '21931': 1197, '22411': 1190, '22382': 1179, '20728': 1174, '22961': 1169, '23298': 1167, '22960': 1142, '22666': 1133, 'POST': 1130, '23209': 1124, '22384': 1117, '82482': 1111, '22993': 1102, '22699': 1084, '22727': 1074, '23206': 1071, '20724': 1052, '23084': 1049, '22178': 1047, '22697': 1043, '20726': 1042, '21080': 1013, '22726': 1001}
Number of different products 39

In [85]:
# Money spent on each product
df.groupby('Description').apply(lambda df,a,b: sum(df[a] * df[b]), 'Quantity', 'UnitPrice')

Description
 4 PURPLE FLOCK DINNER CANDLES     290.80
 50'S CHRISTMAS GIFT BAG LARGE    2343.63
 DOLLY GIRL BEAKER                2891.25
 I LOVE LONDON MINI BACKPACK      1628.17
 I LOVE LONDON MINI RUCKSACK         4.15
                                   ...
wrongly coded 20713                  0.00
wrongly coded 23343                  0.00
wrongly marked                       0.00
wrongly marked 23343                 0.00
wrongly sold (22719) barcode         0.00
Length: 4077, dtype: float64

In [86]:
#df.to_csv('data/transactions.csv', index=False)

In [87]:
transactions.groupby('CustomerID')['InvoiceDay'].apply(list)

CustomerID
12346.0                                         [2011-01-18]
12347.0    [2010-12-07, 2011-01-26, 2011-04-07, 2011-06-0...
12348.0     [2010-12-16, 2011-01-25, 2011-04-05, 2011-09-25]
12349.0                                         [2011-11-21]
12350.0                                         [2011-02-02]
                                 ...
18281.0                                         [2011-06-12]
18282.0                             [2011-08-05, 2011-12-02]
18283.0    [2011-01-06, 2011-01-23, 2011-02-28, 2011-04-2...
18287.0                 [2011-05-22, 2011-10-12, 2011-10-28]
XXXXX      [2010-12-01, 2010-12-01, 2010-12-01, 2010-12-0...
Name: InvoiceDay, Length: 4340, dtype: object

In [92]:
# Purhased items per people as stock codes
customer_stocks = transactions[['CustomerID','StockCodes','InvoiceDay']]

In [93]:
customer_stocks.head(10)

,CustomerID,StockCodes,InvoiceDay
InvoiceNo,,,
536365,17850,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",2010-12-01
536366,17850,"[22633, 22632]",2010-12-01
536367,13047,"[84879, 22745, 22748, 22749, 22310, 84969, 226...",2010-12-01
536368,13047,"[22960, 22913, 22912, 22914]",2010-12-01
536369,13047,[21756],2010-12-01
536370,12583,"[22728, 22727, 22726, 21724, 21883, 10002, 217...",2010-12-01
536371,13748,[22086],2010-12-01
536372,17850,"[22632, 22633]",2010-12-01
536373,17850,"[85123A, 71053, 84406B, 20679, 37370, 21871, 2...",2010-12-01
536374,15100,[21258],2010-12-01

### Graph Creation

#### edges creation

In [102]:
# Links creation of 
links = []
links_big = []
customer_ids_dict = dict()
j=0

stock_codes_dict = dict()
stock_codes_descriptions_dict = dict()

k=6000

for i in range(0,len(customer_stocks)):
    cs = customer_stocks.iloc[i]
    cid = customer_stocks.iloc[i].CustomerID 
    if(cid != 'XXXXX' and cid in people_sampled):
        
        for sc in customer_stocks.iloc[i].StockCodes:

            if(sc in products_quantities_stocks_sampled):
                
                if (cid not in customer_ids_dict):
                    customer_ids_dict[cid] = j
                    j += 1
                
                if (sc not in stock_codes_dict):
                    stock_codes_dict[sc] = k
                    stock_codes_descriptions_dict[k] = stock_code_dict[sc][0]
                    k += 1
                
                #link_element_big = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]),"invoiceday":, "type": "A"}
                link_element_big = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]),"invoice_day": customer_stocks.iloc[i].InvoiceDay, "type": "A"}
                links_big.append(link_element_big)
                
                #link_element = {"source":customer_ids_dict[cid],"target":stock_codes_dict[sc], "value": 10}
                #link_element = {"source":str(customer_ids_dict[cid]),"target":str(stock_codes_dict[sc]), "type": "A"}
                #links.append(link_element)

In [103]:
print("Number of edges: ",len(links_big))

Number of edges:  10841

In [104]:
link_element_big

{'source': '9', 'target': '6005', 'type': 'A'}

In [99]:
stock_codes_descriptions_dict

{6000: 'JUMBO SHOPPER VINTAGE RED PAISLEY',
 6001: "PAPER CHAIN KIT 50'S CHRISTMAS ",
 6002: 'JAM MAKING SET WITH JARS',
 6003: 'JAM MAKING SET PRINTED',
 6004: 'WHITE HANGING HEART T-LIGHT HOLDER',
 6005: 'SMALL POPCORN HOLDER',
 6006: 'SET/20 RED RETROSPOT PAPER NAPKINS ',
 6007: 'JUMBO BAG RED RETROSPOT',
 6008: 'LUNCH BAG CARS BLUE',
 6009: 'LUNCH BAG SPACEBOY DESIGN ',
 6010: 'LUNCH BAG SUKI  DESIGN ',
 6011: 'LUNCH BAG  BLACK SKULL.',
 6012: 'LUNCH BAG RED RETROSPOT',
 6013: 'PACK OF 72 RETROSPOT CAKE CASES',
 6014: 'RECIPE BOX PANTRY YELLOW DESIGN',
 6015: 'JUMBO BAG PINK POLKADOT',
 6016: 'GREEN REGENCY TEACUP AND SAUCER',
 6017: 'NATURAL SLATE HEART CHALKBOARD ',
 6018: 'RED RETROSPOT CHARLOTTE BAG',
 6019: 'LUNCH BAG PINK POLKADOT',
 6020: 'ALARM CLOCK BAKELIKE GREEN',
 6021: 'ASSORTED COLOUR BIRD ORNAMENT',
 6022: 'REGENCY CAKESTAND 3 TIER',
 6023: 'LUNCH BAG WOODLAND',
 6024: 'POSTAGE',
 6025: 'JUMBO STORAGE BAG SUKI',
 6026: 'ALARM CLOCK BAKELIKE RED ',
 6027: 'HEART OF WICKER SMALL',
 6028: 'WOODEN PICTURE FRAME WHITE FINISH',
 6029: 'PARTY BUNTING',
 6030: 'ROSES REGENCY TEACUP AND SAUCER ',
 6031: 'VICTORIAN GLASS HANGING T-LIGHT',
 6032: 'SET OF 3 CAKE TINS PANTRY DESIGN ',
 6033: 'SET OF 4 PANTRY JELLY MOULDS',
 6034: 'LUNCH BAG APPLE DESIGN',
 6035: 'SPOTTY BUNTING',
 6036: 'mailout',
 6037: 'mailout',
 6038: 'RABBIT NIGHT LIGHT'}

In [54]:
len(stock_codes_dict)

1548

In [55]:
stock_codes_dict

{'85123A': 6000,
 '71053': 6001,
 '84406B': 6002,
 '84029G': 6003,
 '84029E': 6004,
 '22752': 6005,
 '21730': 6006,
 '22633': 6007,
 '22632': 6008,
 '22728': 6009,
 '22727': 6010,
 '22726': 6011,
 '21883': 6012,
 '21791': 6013,
 '21035': 6014,
 '22326': 6015,
 '22629': 6016,
 '22659': 6017,
 '22631': 6018,
 '22661': 6019,
 '21731': 6020,
 '22900': 6021,
 '21913': 6022,
 '22544': 6023,
 '22492': 6024,
 'POST': 6025,
 '20679': 6026,
 '37370': 6027,
 '21871': 6028,
 '21071': 6029,
 '21068': 6030,
 '82483': 6031,
 '82486': 6032,
 '82482': 6033,
 '82494L': 6034,
 '22386': 6035,
 '85099C': 6036,
 '21033': 6037,
 '20723': 6038,
 '84997B': 6039,
 '84997C': 6040,
 '21094': 6041,
 '20725': 6042,
 '21559': 6043,
 '22352': 6044,
 '21212': 6045,
 '21975': 6046,
 '21977': 6047,
 '84991': 6048,
 '85183B': 6049,
 '85071B': 6050,
 '21931': 6051,
 '21929': 6052,
 '22139': 6053,
 '22411': 6054,
 '82567': 6055,
 '21672': 6056,
 '22774': 6057,
 '22771': 6058,
 '22262': 6059,
 '22637': 6060,
 '21934': 6061,
 '21169': 6062,
 '21166': 6063,
 '21175': 6064,
 '22086': 6065,
 '22083': 6066,
 '84971S': 6067,
 '47580': 6068,
 '22261': 6069,
 '84832': 6070,
 '22644': 6071,
 '21533': 6072,
 '21557': 6073,
 '15056BL': 6074,
 '15056N': 6075,
 '22646': 6076,
 '22176': 6077,
 '22438': 6078,
 '22778': 6079,
 '22719': 6080,
 '21523': 6081,
 '85099B': 6082,
 '79321': 6083,
 '22780': 6084,
 '22779': 6085,
 '22466': 6086,
 '22941': 6087,
 '21622': 6088,
 '85014B': 6089,
 '85014A': 6090,
 '22193': 6091,
 '22192': 6092,
 '22191': 6093,
 '22195': 6094,
 '22196': 6095,
 '22960': 6096,
 '22961': 6097,
 '22962': 6098,
 '22963': 6099,
 '22968': 6100,
 '84970S': 6101,
 '22910': 6102,
 '20668': 6103,
 '22197': 6104,
 '21080': 6105,
 '21086': 6106,
 '21786': 6107,
 '22654': 6108,
 '21485': 6109,
 '84030E': 6110,
 '22174': 6111,
 '22969': 6112,
 '21506': 6113,
 '22866': 6114,
 '22865': 6115,
 '22349': 6116,
 '22558': 6117,
 '85152': 6118,
 '22652': 6119,
 '22188': 6120,
 '84879': 6121,
 '21484': 6122,
 '21314': 6123,
 '22730': 6124,
 '22729': 6125,
 '22114': 6126,
 '22867': 6127,
 '22837': 6128,
 '20728': 6129,
 '22382': 6130,
 '22662': 6131,
 '22383': 6132,
 '20727': 6133,
 '22328': 6134,
 '22327': 6135,
 '22630': 6136,
 '21245': 6137,
 '21244': 6138,
 '21242': 6139,
 '21243': 6140,
 '22273': 6141,
 '22940': 6142,
 '22759': 6143,
 '21880': 6144,
 '22077': 6145,
 '85049E': 6146,
 '22749': 6147,
 '22243': 6148,
 '22141': 6149,
 '22144': 6150,
 '21739': 6151,
 '22271': 6152,
 '22274': 6153,
 '22751': 6154,
 '21034': 6155,
 '22568': 6156,
 '22570': 6157,
 '22569': 6158,
 '22902': 6159,
 '22179': 6160,
 '21706': 6161,
 '22468': 6162,
 '85184C': 6163,
 '22988': 6164,
 '20750': 6165,
 '21154': 6166,
 '22189': 6167,
 '22059': 6168,
 '22670': 6169,
 '84992': 6170,
 '22927': 6171,
 '22926': 6172,
 '22925': 6173,
 '21259': 6174,
 '21257': 6175,
 '21121': 6176,
 '82552': 6177,
 '46000M': 6178,
 '22616': 6179,
 '22712': 6180,
 '22983': 6181,
 '22024': 6182,
 '22113': 6183,
 '22895': 6184,
 '21755': 6185,
 '21754': 6186,
 '22854': 6187,
 '22809': 6188,
 '84347': 6189,
 '84945': 6190,
 '22244': 6191,
 '20712': 6192,
 '20713': 6193,
 '22973': 6194,
 '22549': 6195,
 '84692': 6196,
 '22899': 6197,
 '21156': 6198,
 '22556': 6199,
 '22555': 6200,
 '22554': 6201,
 '22553': 6202,
 '22551': 6203,
 '22547': 6204,
 '22539': 6205,
 '22534': 6206,
 '22530': 6207,
 '22531': 6208,
 '22561': 6209,
 '22489': 6210,
 '22814': 6211,
 '22716': 6212,
 '21982': 6213,
 '21981': 6214,
 '21967': 6215,
 '21983': 6216,
 '22615': 6217,
 '21980': 6218,
 '22614': 6219,
 '22095': 6220,
 '22094': 6221,
 '21984': 6222,
 '22557': 6223,
 '84375': 6224,
 '22966': 6225,
 '21874': 6226,
 '21873': 6227,
 '21870': 6228,
 '22956': 6229,
 '84050': 6230,
 '21213': 6231,
 '22315': 6232,
 '22667': 6233,
 '22666': 6234,
 '22665': 6235,
 '22567': 6236,
 '85150': 6237,
 '82600': 6238,
 '21733': 6239,
 '20685': 6240,
 '22842': 6241,
 '22494': 6242,
 '21260': 6243,
 '85071A': 6244,
 '85071C': 6245,
 '22355': 6246,
 '22147': 6247,
 '22150': 6248,
 '22493': 6249,
 '21833': 6250,
 '21055': 6251,
 '21889': 6252,
 '21891': 6253,
 '22622': 6254,
 'C2': 6255,
 '21915': 6256,
 '84970L': 6257,
 '22625': 6258,
 '20914': 6259,
 '22835': 6260,
 '22112': 6261,
 '21592': 6262,
 '22310': 6263,
 '22481': 6264,
 '22663': 6265,
 '84949': 6266,
 '21326': 6267,
 '22713': 6268,
 '22111': 6269,
 '21916': 6270,
 '21917': 6271,
 '21495': 6272,
 '46000S': 6273,
 '22731': 6274,
 '21258': 6275,
 '21041': 6276,
 '22173': 6277,
 '22471': 6278,
 '21935': 6279,
 '21670': 6280,
 '22041': 6281,
 '20972': 6282,
 '20749': 6283,
 '22212': 6284,
 '22678': 6285,
 '22686': 6286,
 '21479': 6287,
 '82484': 6288,
 '21363': 6289,
 '22755': 6290,
 '22753': 6291,
 '79066K': 6292,
 '22794': 6293,
 '22592': 6294,
 '22694': 6295,
 '21098': 6296,
 '22470': 6297,
 '22795': 6298,
 '20963': 6299,
 '22278': 6300,
 '22318': 6301,
 '22748': 6302,
 '22745': 6303,
 '22750': 6304,
 '48185': 6305,
 '48194': 6306,
 '22423': 6307,
 '37446': 6308,
 '37449': 6309,
 '21231': 6310,
 '21232': 6311,
 '22314': 6312,
 '21181': 6313,
 '72741': 6314,
 '22187': 6315,
 '21668': 6316,
 '22805': 6317,
 '22772': 6318,
 '22773': 6319,
 '22834': 6320,
 '22965': 6321,
 '22975': 6322,
 '22972': 6323,
 '22974': 6324,
 '22135': 6325,
 '22378': 6326,
 '21888': 6327,
 '22321': 6328,
 '21238': 6329,
 '22379': 6330,
 '72807C': 6331,
 '22497': 6332,
 '20978': 6333,
 '22081': 6334,
 '51014C': 6335,
 '22476': 6336,
 '21620': 6337,
 '22260': 6338,
 '22121': 6339,
 '22357': 6340,
 '21985': 6341,
 '21790': 6342,
 '84031A': 6343,
 '84032A': 6344,
 '82580': 6345,
 '21272': 6346,
 '20975': 6347,
 '22418': 6348,
 '21914': 6349,
 '22440': 6350,
 '22434': 6351,
 '22564': 6352,
 '84077': 6353,
 '22909': 6354,
 '22943': 6355,
 '22952': 6356,
 '21355': 6357,
 '21756': 6358,
 '22023': 6359,
 '21519': 6360,
 '22037': 6361,
 '22029': 6362,
 '22030': 6363,
 '22027': 6364,
 '22718': 6365,
 '22717': 6366,
 '22028': 6367,
 '22815': 6368,
 '22697': 6369,
 '21669': 6370,
 '21671': 6371,
 '21673': 6372,
 '22775': 6373,
 '48187': 6374,
 '84755': 6375,
 '22460': 6376,
 '22432': 6377,
 '22433': 6378,
 '22431': 6379,
 '21070': 6380,
 '22419': 6381,
 '22676': 6382,
 '22725': 6383,
 '22672': 6384,
 '22109': 6385,
 '22699': 6386,
 '21843': 6387,
 '21588': 6388,
 '21584': 6389,
 '22457': 6390,
 '20674': 6391,
 '20676': 6392,
 '82582': 6393,
 '22170': 6394,
 '21210': 6395,
 '21679': 6396,
 '22130': 6397,
 '20733': 6398,
 '85231B': 6399,
 '22653': 6400,
 '22696': 6401,
 '22768': 6402,
 '48138': 6403,
 '22945': 6404,
 '21328': 6405,
 '22796': 6406,
 '22733': 6407,
 '22560': 6408,
 '22491': 6409,
 '22920': 6410,
 '22917': 6411,
 '22919': 6412,
 '22918': 6413,
 '22916': 6414,
 '22921': 6415,
 '22896': 6416,
 '22385': 6417,
 '20969': 6418,
 '20970': 6419,
 '22374': 6420,
 '22372': 6421,
 '22375': 6422,
 '22371': 6423,
 '22634': 6424,
 '22650': 6425,
 '22578': 6426,
 '22579': 6427,
 '22110': 6428,
 '84997A': 6429,
 '84997D': 6430,
 '21014': 6431,
 '21803': 6432,
 '21801': 6433,
 '20675': 6434,
 '21239': 6435,
 '21207': 6436,
 '21987': 6437,
 '21988': 6438,
 '21989': 6439,
 '22332': 6440,
 '22437': 6441,
 '85049A': 6442,
 '22120': 6443,
 '22849': 6444,
 '22848': 6445,
 '21527': 6446,
 '21844': 6447,
 '22976': 6448,
 '22977': 6449,
 '21137': 6450,
 '22296': 6451,
 '21899': 6452,
 '22335': 6453,
 '21902': 6454,
 '21901': 6455,
 '21948': 6456,
 '21949': 6457,
 '20981': 6458,
 '21544': 6459,
 '20974': 6460,
 '22743': 6461,
 '20971': 6462,
 '22088': 6463,
 '22384': 6464,
 '20726': 6465,
 '21481': 6466,
 '21700': 6467,
 '22064': 6468,
 '22821': 6469,
 '22776': 6470,
 '20724': 6471,
 '22333': 6472,
 '22084': 6473,
 '22356': 6474,
 '22380': 6475,
 '22964': 6476,
 '22467': 6477,
 '22452': 6478,
 '22075': 6479,
 '21509': 6480,
 '21508': 6481,
 '21507': 6482,
 '21500': 6483,
 '21499': 6484,
 '21498': 6485,
 '20719': 6486,
 '16237': 6487,
 '85178': 6488,
 '71459': 6489,
 '48184': 6490,
 '22585': 6491,
 '22536': 6492,
 '84946': 6493,
 '20961': 6494,
 '22617': 6495,
 '21930': 6496,
 '20973': 6497,
 '70007': 6498,
 '70006': 6499,
 '22746': 6500,
 '21745': 6501,
 '21524': 6502,
 '22365': 6503,
 '21658': 6504,
 '22065': 6505,
 '22798': 6506,
 '22801': 6507,
 '22800': 6508,
 '82581': 6509,
 '82578': 6510,
 '21494': 6511,
 '22651': 6512,
 '21217': 6513,
 '22502': 6514,
 '22430': 6515,
 '21429': 6516,
 '22425': 6517,
 '21240': 6518,
 '22207': 6519,
 '21928': 6520,
 '22171': 6521,
 '20984': 6522,
 '22804': 6523,
 '21530': 6524,
 '21528': 6525,
 '22635': 6526,
 '22619': 6527,
 '21114': 6528,
 '20979': 6529,
 '22636': 6530,
 '22469': 6531,
 '22427': 6532,
 '22426': 6533,
 '22424': 6534,
 '22367': 6535,
 '22624': 6536,
 '71477': 6537,
 '21912': 6538,
 '22142': 6539,
 '15060B': 6540,
 '22149': 6541,
 '22607': 6542,
 '22605': 6543,
 '22505': 6544,
 '22501': 6545,
 '20983': 6546,
 '20982': 6547,
 '21892': 6548,
 '22180': 6549,
 '22766': 6550,
 '21878': 6551,
 '22841': 6552,
 '22595': 6553,
 '22594': 6554,
 '22737': 6555,
 '22582': 6556,
 '22584': 6557,
 '22812': 6558,
 '22573': 6559,
 '22574': 6560,
 '22627': 6561,
 '22626': 6562,
 '85131A': 6563,
 '22155': 6564,
 '22158': 6565,
 '21135': 6566,
 '22154': 6567,
 '22153': 6568,
 '21428': 6569,
 '84987': 6570,
 '21907': 6571,
 '22914': 6572,
 '21407': 6573,
 '21715': 6574,
 '22550': 6575,
 '22089': 6576,
 '21206': 6577,
 '22669': 6578,
 '22076': 6579,
 '22222': 6580,
 '22912': 6581,
 '22913': 6582,
 '22449': 6583,
 '22851': 6584,
 '21078': 6585,
 '20751': 6586,
 '20754': 6587,
 '22810': 6588,
 '22813': 6589,
 '22738': 6590,
 '15036': 6591,
 '22090': 6592,
 '22942': 6593,
 '20665': 6594,
 '21216': 6595,
 '21155': 6596,
 '21531': 6597,
 '21539': 6598,
 '22072': 6599,
 '22754': 6600,
 '22740': 6601,
 '84510A': 6602,
 '84536A': 6603,
 '15056P': 6604,
 '22892': 6605,
 '22080': 6606,
 '22948': 6607,
 '22944': 6608,
 '22572': 6609,
 '22571': 6610,
 '22844': 6611,
 '22845': 6612,
 '22846': 6613,
 '22847': 6614,
 '22946': 6615,
 '22947': 6616,
 '22623': 6617,
 '21064': 6618,
 '85227': 6619,
 '22863': 6620,
 '22816': 6621,
 '22704': 6622,
 '22747': 6623,
 '21165': 6624,
 '21179': 6625,
 '21164': 6626,
 '22131': 6627,
 '21974': 6628,
 'M': 6629,
 '21623': 6630,
 '21446': 6631,
 '21918': 6632,
 '22839': 6633,
 '21558': 6634,
 '21042': 6635,
 '84380': 6636,
 '85049C': 6637,
 '84580': 6638,
 '72807B': 6639,
 '21992': 6640,
 '21991': 6641,
 '84006': 6642,
 '21504': 6643,
 '22732': 6644,
 '22348': 6645,
 '20829': 6646,
 '21224': 6647,
 '22133': 6648,
 '21677': 6649,
 '84988': 6650,
 '21947': 6651,
 '21211': 6652,
 '21125': 6653,
 '21877': 6654,
 '22200': 6655,
 '72800E': 6656,
 '22358': 6657,
 '21876': 6658,
 '21868': 6659,
 '22507': 6660,
 '85054': 6661,
 '22955': 6662,
 '85034B': 6663,
 '72802C': 6664,
 '22473': 6665,
 '22169': 6666,
 '22855': 6667,
 '85066': 6668,
 '22603': 6669,
 '22577': 6670,
 '22581': 6671,
 '22600': 6672,
 '22602': 6673,
 '22601': 6674,
 '22739': 6675,
 '22735': 6676,
 '22736': 6677,
 '22593': 6678,
 '22079': 6679,
 '22082': 6680,
 '21626': 6681,
 '21621': 6682,
 '84032B': 6683,
 '22758': 6684,
 '21716': 6685,
 '22398': 6686,
 '22403': 6687,
 '22620': 6688,
 '11001': 6689,
 '21452': 6690,
 '22562': 6691,
 '22563': 6692,
 '22548': 6693,
 '22301': 6694,
 '22300': 6695,
 '85174': 6696,
 '85175': 6697,
 '72760B': 6698,
 '22791': 6699,
 '21824': 6700,
 '21823': 6701,
 '22588': 6702,
 '85038': 6703,
 '22565': 6704,
 '22566': 6705,
 '22294': 6706,
 '22784': 6707,
 '21936': 6708,
 '22840': 6709,
 '21447': 6710,
 '22185': 6711,
 '47310M': 6712,
 '22474': 6713,
 '84969': 6714,
 '22477': 6715,
 '22478': 6716,
 '22898': 6717,
 '21329': 6718,
 '21787': 6719,
 '21774': 6720,
 '21439': 6721,
 '47566': 6722,
 '84279P': 6723,
 '16238': 6724,
 '21829': 6725,
 '21556': 6726,
 '22483': 6727,
 '85099F': 6728,
 '20956': 6729,
 '79000': 6730,
 '22422': 6731,
 '21327': 6732,
 '10135': 6733,
 '10133': 6734,
 '20992': 6735,
 '84536B': 6736,
 '84596G': 6737,
 '20677': 6738,
 '22951': 6739,
 '21218': 6740,
 '21110': 6741,
 '22208': 6742,
 '22210': 6743,
 '22061': 6744,
 '22331': 6745,
 '22906': 6746,
 '22890': 6747,
 '22190': 6748,
 '85199S': 6749,
 '22499': 6750,
 '22818': 6751,
 '85049G': 6752,
 '22597': 6753,
 '22599': 6754,
 '21802': 6755,
 '47591D': 6756,
 '21625': 6757,
 '21174': 6758,
 '22366': 6759,
 '21830': 6760,
 '22537': 6761,
 '22894': 6762,
 '21090': 6763,
 '35471D': 6764,
 '21467': 6765,
 '84836': 6766,
 '47559B': 6767,
 '22792': 6768,
 '15039': 6769,
 '84978': 6770,
 '22175': 6771,
 '22464': 6772,
 '22151': 6773,
 '72351A': 6774,
 '22381': 6775,
 '22436': 6776,
 '22439': 6777,
 '22488': 6778,
 '21650': 6779,
 '22586': 6780,
 '84947': 6781,
 '22674': 6782,
 '22376': 6783,
 '22645': 6784,
 '22742': 6785,
 '20977': 6786,
 '22744': 6787,
 '22684': 6788,
 '21900': 6789,
 '22891': 6790,
 '22576': 6791,
 '22822': 6792,
 '21172': 6793,
 '21867': 6794,
 '84378': 6795,
 '82613B': 6796,
 '82599': 6797,
 '21158': 6798,
 '21356': 6799,
 '21313': 6800,
 '15034': 6801,
 '47593B': 6802,
 '22421': 6803,
 '21811': 6804,
 '22639': 6805,
 '22156': 6806,
 '21116': 6807,
 '47567B': 6808,
 '84792': 6809,
 '47566B': 6810,
 '35004B': 6811,
 '21908': 6812,
 '21903': 6813,
 '21340': 6814,
 '22781': 6815,
 '85049D': 6816,
 '22078': 6817,
 '48111': 6818,
 '22587': 6819,
 '22074': 6820,
 '22297': 6821,
 '22295': 6822,
 '21818': 6823,
 '21819': 6824,
 '22817': 6825,
 '22045': 6826,
 '16161U': 6827,
 '21497': 6828,
 '21115': 6829,
 '22107': 6830,
 '21616': 6831,
 '22096': 6832,
 '21894': 6833,
 '17003': 6834,
 '21564': 6835,
 '21122': 6836,
 '20985': 6837,
 '21430': 6838,
 '20718': 6839,
 '47599A': 6840,
 '47599B': 6841,
 '47590A': 6842,
 '21906': 6843,
 '22829': 6844,
 '21822': 6845,
 '22087': 6846,
 '82551': 6847,
 '22690': 6848,
 '22767': 6849,
 '22500': 6850,
 '85048': 6851,
 '84950': 6852,
 '21813': 6853,
 '22905': 6854,
 '22831': 6855,
 '22949': 6856,
 '22283': 6857,
 '21976': 6858,
 '84849D': 6859,
 '22429': 6860,
 '22279': 6861,
 '22683': 6862,
 '22680': 6863,
 '22685': 6864,
 '22580': 6865,
 '21955': 6866,
 '48188': 6867,
 '22691': 6868,
 '22435': 6869,
 '21890': 6870,
 '22360': 6871,
 '47590B': 6872,
 '22203': 6873,
 '22097': 6874,
 '22329': 6875,
 '72351B': 6876,
 '21986': 6877,
 '22428': 6878,
 '48173C': 6879,
 '20711': 6880,
 '37448': 6881,
 '21464': 6882,
 '16156S': 6883,
 '22338': 6884,
 '22119': 6885,
 '22838': 6886,
 '22445': 6887,
 '21744': 6888,
 '22843': 6889,
 '35953': 6890,
 '22465': 6891,
 '22681': 6892,
 '22671': 6893,
 '21746': 6894,
 '20752': 6895,
 '22904': 6896,
 '22938': 6897,
 '21381': 6898,
 '21380': 6899,
 '21471': 6900,
 '22441': 6901,
 '22178': 6902,
 '21872': 6903,
 '82583': 6904,
 '22224': 6905,
 '22093': 6906,
 '22098': 6907,
 '22099': 6908,
 '22756': 6909,
 '22757': 6910,
 '21864': 6911,
 '35961': 6912,
 '21390': 6913,
 '21866': 6914,
 '21865': 6915,
 '22763': 6916,
 '85132A': 6917,
 '22673': 6918,
 '22219': 6919,
 '85062': 6920,
 '22535': 6921,
 '22186': 6922,
 '21875': 6923,
 '21411': 6924,
 '47574A': 6925,
 '21124': 6926,
 '21680': 6927,
 '22312': 6928,
 '20682': 6929,
 '22413': 6930,
 '22908': 6931,
 '21534': 6932,
 '22514': 6933,
 '21136': 6934,
 '22475': 6935,
 '22211': 6936,
 '22026': 6937,
 '22068': 6938,
 '22606': 6939,
 '20839': 6940,
 '37340': 6941,
 '21563': 6942,
 '22762': 6943,
 '21773': 6944,
 '21463': 6945,
 '82001S': 6946,
 '21107': 6947,
 '22664': 6948,
 '85176': 6949,
 '48129': 6950,
 '37447': 6951,
 '22922': 6952,
 '22930': 6953,
 '22931': 6954,
 '22937': 6955,
 '84596B': 6956,
 '22417': 6957,
 '22789': 6958,
 '22649': 6959,
 '22115': 6960,
 '22070': 6961,
 '20735': 6962,
 '20996': 6963,
 '20828': 6964,
 '72807A': 6965,
 '22456': 6966,
 '22350': 6967,
 '21578': 6968,
 '21990': 6969,
 '21358': 6970,
 '22508': 6971,
 '21108': 6972,
 '21832': 6973,
 '22123': 6974,
 '21215': 6975,
 '21675': 6976,
 '22396': 6977,
 '21846': 6978,
 '22487': 6979,
 '21123': 6980,
 '22152': 6981,
 '22703': 6982,
 '84535B': 6983,
 '22621': 6984,
 '22472': 6985,
 '22907': 6986,
 '22897': 6987,
 '22859': 6988,
 '22689': 6989,
 '21385': 6990,
 '22163': 6991,
 '22695': 6992,
 '22231': 6993,
 '22233': 6994,
 '20658': 6995,
 '85039B': 6996,
 '21535': 6997,
 '21812': 6998,
 '22734': 6999,
 ...}

In [58]:
import json
with open('stock_descriptions_big.json', 'w') as json_file:
    json.dump(stock_codes_descriptions_dict, json_file)

In [59]:
links_big[:3]

[{'source': '0', 'target': '6000', 'type': 'A'},
 {'source': '0', 'target': '6001', 'type': 'A'},
 {'source': '0', 'target': '6002', 'type': 'A'}]

### Graph nodes construction

In [60]:
nodes = []
nodes_big = []
for i in customer_ids_dict:
    node_element_big = {"name":str(customer_ids_dict[i]),"sex":"F"}
    nodes_big.append(node_element_big)
    
    #node_element = {"name":str(customer_ids_dict[i]),"sex":"F"}
    #nodes.append(node_element)

for j in stock_codes_dict:
    node_element_big = {"name":str(stock_codes_dict[j]),"sex":"M","country:"}
    nodes_big.append(node_element_big)
    
    #node_element = {"name":str(stock_codes_dict[j]),"sex":"M"}
    #nodes.append(node_element)

In [61]:
print("Number of nodes: ",len(nodes_big))

Number of nodes:  2002

In [62]:
node_element_big

{'name': '7547', 'sex': 'M'}

In [63]:
with open('links_big.js', 'w') as json_file:
    json.dump(links_big, json_file)

In [64]:
with open('nodes_big.js', 'w') as json_file:
    json.dump(nodes_big, json_file)

### Customer buy dates

In [68]:
# Number of transactions per user in each day, (sampled and reduced customer id version)
transactions[['CustomerID','InvoiceDay','StockCodes']].groupby(['CustomerID','InvoiceDay']).count().to_csv("customer_buydates.csv",index=True)
customer_buydates = pd.read_csv('customer_buydates.csv')

In [69]:
customer_buydates_person = []
customer_buydates_when = []
customer_buydates_count = []

for ci in range(0,len(customer_buydates)):
    if(customer_buydates.iloc[ci]['CustomerID'] == 'XXXXX' or float(customer_buydates.iloc[ci]['CustomerID']) not in customer_ids_dict):
        ""
        #print(customer_buydates.iloc[ci]['CustomerID'])
        #customer_buydates = customer_buydates.drop(index=ci)
    else:
        customer_buydates_person.append(customer_ids_dict[float(customer_buydates.iloc[ci]['CustomerID'])])
        customer_buydates_when.append(customer_buydates.iloc[ci]['InvoiceDay'])
        customer_buydates_count.append(customer_buydates.iloc[ci]['StockCodes'])

customer_buydates_sampled = pd.DataFrame({'Customer':customer_buydates_person,'InvoiceDay':customer_buydates_when,'Count':customer_buydates_count})

In [70]:
customer_buydates_sampled.head(10)
#customer_buydates_sampled.to_csv("customer_buydates_sampled_big.csv",index=False)

   Customer  InvoiceDay  Count
0       266  2011-01-12      1
1       266  2011-02-07      1
2       266  2011-06-03      1
3       266  2011-10-13      1
4       332  2011-02-17      1
5       332  2011-04-28      1
6       332  2011-07-07      1
7       332  2011-08-11      1
8       332  2011-09-28      1
9       332  2011-10-11      1